.my-body {
   background-image: url(../assets/img/background.jpg);
   background-repeat: no-repeat;
   text-align:center; 
   padding-top: 5%;
   padding-bottom: 10%;
   background-size: 100% auto;
}

.dm-uploader{
    border: 0.25rem dashed #A5A5C7;
    margin-top: 50px;
}
 
.my-container{
    width: 100%;
}
.my-container .drag-area{
   
   margin: auto;
}

.success-block{
    margin:auto;
    width: 50%;
}